*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgba(0, 0, 0, 0.926);
    width: 100%;
    height: 100%;
  }

  .main{
    position: absolute;
    top: 32%;
    left: 33%;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }
  .icon{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50px;
    transition: all 0.8s;
  }
  .icon:hover{
    background: #e60073;
    box-shadow: 0px 0px 20px #e60073;
}

.icon:hover:nth-child(2){
    background: #1877f2;
    box-shadow: 0px 0px 20px #1877f2;
}

.icon:hover:nth-child(3){
    background: #FFC300;
    box-shadow: 0px 0px 20px #FFC300;
}

.icon:hover:nth-child(4){
    background: #1DA1F2;
    box-shadow: 0px 0px 20px #1DA1F2;
}
.icon:hover:nth-child(5){
    background: #5891db;
    box-shadow: 0px 0px 20px #5891db;
}
.icon i{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
svg circle{
  stroke-dasharray: 150;
  transition: all 0.8s;
}
.icon:hover svg circle{
  stroke-dasharray: 220;
}